/**
* This messy CSS is mostly based on Boostrap v3.0.
*
* Authored / cobbled together by Mark Egge at High Street Consulting
*
* Questions to: egge@highstreetconsulting.com
* 
* 30 October 2017
*/

@page {
    size: letter;
    margin: .25in;
}

html, body { -weasy-hyphens: auto }

h1 { 
	page-break-before: auto !important; 
    -weasy-bookmark-level: none;
}

@media print {  }
* {
	box-sizing: border-box;
}

body {
	box-sizing: border-box;
    font-family: Calibri, "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    margin: 0;
}

div {
	display: block;
}

h1, h2, h3, h4, h5, h6
 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h2, h3, h4, h5, h6  {
  margin-top: 10px;
  margin-bottom: 0px;
}

h1 {  font-size: 26px; }
h2 {  font-size: 22px; }
h3 {  font-size: 20px; }
h4 {  font-size: 16px; }
h5 {  font-size: 14px; }
h6 {  font-size: 12px; }

p {
	margin: 0;
	padding: 0;
}

.page {
	break-before: always;
}

.blue { color: #5B9BD5 !important; }
.orange { color: #ED7D31 !important; }

.container {
	width: 7.5in;
	height: 10.75in;
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    overflow: auto;
    position: relative;
}

.footer {
	width: 100%;
	position: absolute;
	bottom: 0;
}
.footer > div {
	position: absolute;
	bottom: 0;
    font-size: 80%;
    color: #222;
}

.footer > div:nth-child(2) {
	right: 0;
}


.clearfix:after, .container-fluid:after, .container:after, 
.row:after {
	content: " ";
	display: block;
    clear: both;
}

.row {
    margin-bottom: 20px;
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
	float: left;
    position: relative;
    min-height: 1px;
/*    padding-right: 15px;
    padding-left: 15px;*/
}
.col-md-12 { 	width: 100%; }
.col-md-11 { 	width: 91.6%; }
.col-md-10 { 	width: 83.3%; }
.col-md-9 { 	width: 75%; }
.col-md-8 { 	width: 66.6%; }
.col-md-7 { 	width: 58.3%; }
.col-md-6 { 	width: 50%; }
.col-md-5 { 	width: 41.66666667%; }
.col-md-4 { 	width: 33.33333333%; }
.col-md-3 { 	width: 25%; }
.col-md-2 { 	width: 16.66666667%; }
.col-md-1 { 	width: 8.33333333%; }


.flag {
	width: 80px;
	margin-top: -5px;
	position: absolute;
	right: 0;
	top: 15px;
}

.small { font-weight: normal; font-size: 80%; color: #555; }

.p1 {
	/* padding-bottom: 30px; */
}


h2.header, h3.header, h4.header, h5.header {
	margin: 0;
	line-height: 26px;
	padding-right: 15px;
}



.center {
	width: 50%;
	margin: 0 auto;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.tight {
	margin: 0 !important;
	padding: 0 !important;
}

.small-top {
	margin-top: 5px !important;
}

.fact-box {
	width: 3.5in;
	text-align: center;
	background-position: center right;
	background-size: 60px auto;
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-right: 15px;
}

.hf {
	margin-top: -4px;
	margin-bottom: 2px;
}
p.fact-heading { 
	font-family: "Trebuchet MS", Verdana, Helvetica, sans-serif;
	font-size: 14pt;
	font-weight: 500;
	color: #444;
}

p.fact-figure {
	font-weight: 600;
	font-size: 16pt;
}

.fact-unit {  }

.fact-subfigure {
	color: #5B9BD5;
	font-size: 12pt;
	font-style: italic;
	margin-top: -3px;
}

.p1-line-chart {
	width: 340px;
}

div#population { background-image: url("../images/population.png"); }
div#land-area { background-image: url("../images/land_area.png"); }
div#vmt { background-image: url("../images/vmt.png"); }
div#road-length { background-image: url("../images/road_length.png"); }
div#lane-miles { background-image: url("../images/lane_miles.png"); }
div#vehicle-registrations { }
#vehicle-registrations-chart { width:100%; padding: 5px 15px 0 0; }
div#driver-licenses { 
	background-image: url("../images/steering_wheel.png");
	background-position: center 5px;
	background-size: 150px;
	background-repeat: no-repeat;
	height: 150px;
}
#driver-licenses-chart { width:100%; padding: 10px 0 0 15px; }

#road-length-chart {
	width: 100%;
	padding: 0 15px;
}


#percent-of-national-chart{ 
	margin-top: 25px; 
	width: 75%;
	margin: 25px auto 0 auto;
	display: block;
}

#share-of-road-miles-chart {
	width: 3.75in;
}

.rural-urban-chart { margin-top: -5px; width: 85%; }

#vehicle-miles-traveled-chart { 
	width: 100%;
	padding-left: 15px; 
}

#new-lane-miles-chart { 
	width: 90%; padding-top: 40px;
}

div#vehicle-crash-fatalities {
	border-right: 2px solid #f0f0f0;
}

div#fuel-use { 
	background-image: url("../images/gas.png"); 
	background-position: center 32px;
	background-size: 160px;
	background-repeat: no-repeat;
	height: 2.5in;
}

#motor-fuel-use-chart { padding: 35px 15px 0 15px; width: 100%;}

#vehicle-crash-fatalities-chart { 
	width: 100%;
	padding: 0 25px;
 } 

#highway-funding > img {
 	width: 100%;
 	margin-top: -5px;
 	padding: 0 15px;
 	display: block;
 	margin: 0 auto 15px auto;
 }

#highway-funding {
	margin-top: 35px;
}