<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FHWA State Statistical Abstract Generator</title>
    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap4.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">

      <div class="header">
        <h3 class="text-muted">Download Files</h3>
      </div>

      <hr/>
      
      <div>
        <p>Download the result: <a href="static/downloads/{{ xlsx_file }}">{{ xlsx_file }}</a></p>
      
      	<h2>Post-Download Processing Instructions</h2>
      	<ol>
      		<li>Open Spreadsheet</li>
      		<li>Delete "Directions" tab</li>
      		<li>Review all sheets for accuracy and completeness</li>
      		<li>Save and close the spreadsheet. It is now ready for use in creating the year's visual abstract summary PDFs.</li>
      	</ol>

        <div class="alert alert-primary" role="alert">
          Please note: after downloading, please ensure that you open the spreadsheet, save it, and close it. This will cause the spreadsheet's formulas to correctly calculate and Excel to update the cached values. Attempting to generate visual abstracts from the above file without completing this step will result in an error!
        </div>

        <p>—or—</p>
        
        <p><a href="/">Start Over</a> (removes current spreadsheet file)</p>

      </div>

    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap.js"></script>
  </body>
</html>