<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FHWA State Statistical Abstract Generator</title>
    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">

      <div class="header">
        <h3 class="text-muted">Download Files</h3>

      </div>
      <hr/>
      <div>
        <p>Download a Zip archive of all states: <a href="static/downloads/{{ zip_file }}">{{ zip_file }}</a></p>
        
        <p>—or—</p>
        
        <p>Download individual state PDFs:
          <ul>
          {% for file in files %}
            <li><a href="static/downloads/{{ file }}">{{ file }}</a></li>
          {% endfor %}
          </ul>
        </p>

        <p>—or—</p>
        
        <p><a href="/">Start Over</a> (removes current PDF files)</p>

      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap.js"></script>
  </body>
</html>