<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FHWA State Statistical Abstracts Utility</title>
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap4.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet"> 
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="author" content="Mark Egge, High Street Consulting Group">

  </head>

  <body>

    <!-- Begin page content -->
    <div class="container">
      <div class="row" style="padding-top: 10px">
        <div class="col-sm-8">
          <h2>Statistical Abstract Generator</h2>
        </div>

        <div class="col-sm-4 justify-content-end" >
          <img src="{{ url_for('static', filename='images/fhwa_logo.png') }}" height=65 style="float: right; margin-right: 10px">
          <h4>Office of Highway Policy Information</h4>
        </div>
      </div>


      <p style="clear:both">Choose a tab below to <i>create an abstract spreadsheet from source files</i> or <i>create visual abstract PDFs from source abstract spreadsheets</i>.</p>

      <p>Not sure where to start? Check out the <a href="{{ url_for('static', filename='instructions.pdf') }}">User Instruction Manual PDF</a> for detailed operator instructions.</p>

      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="alert alert-danger" style="margin-top: 20px">
        <strong>Error</strong>
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      </div>
      {% endif %}
      {% endwith %}

      <hr/>
      <!-- Begin main page content -->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="spreadsheet-tab" data-toggle="tab" href="#spreadsheet" role="tab" aria-controls="spreadsheet" aria-selected="true">Build Abstract Spreadsheet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pdf-tab" data-toggle="tab" href="#pdf" role="tab" aria-controls="pdf" aria-selected="false">Build Visual Abstract PDFs</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">

        <!-- Build Spreadsheet -->
        <div class="tab-pane show active" id="spreadsheet" role="tabpanel" aria-labelledby="spreadsheet-tab">
          <div class="row">
            <div class="col-sm-5">
              <h3 class="text-muted">Instructions</h3>
              <p>Prepare by downloading and organizing the Highway Statistics Series spreadsheets for the intended year into a folder. The required files are listed to the right.</p>
              <p>These files are available from the <a href="https://www.fhwa.dot.gov/policyinformation/statistics.cfm" target="_blank">FHWA Highway Statistics Series Publications Website</a></p>
              <p>Note: files may be provided in either Excel 97 – 2004 (".xls") format or Excel 2007+ (".xlsx") format. The file name is expected to match the historically used filenames (e.g. table MF-33GA is "ga33.xls"). Differing filenames will generate a warning (which may be ignored).</p>
            </div>

            <div class="col-sm-7">

              <h3 class="text-muted">Input Files</h3>
              
              <form action="upload" method="post" enctype="multipart/form-data" id="spreadsheet-form">
                <input type="hidden" name="act" value="spreadsheet">
                <label for="spreadsheet_year_select">Output Year:</label>
                <select name="spreadsheet_year_select" id="spreadsheet_year_select">
                  <option value="2016" selected="selected">2016</option><option value="2017">2017</option>
                  <option value="2018">2018</option><option value="2019">2019</option><option value="2020">2020</option>
                  <option value="2021">2021</option><option value="2022">2022</option><option value="2023">2023</option>
                  <option value="2024">2024</option><option value="2025">2025</option><option value="2026">2026</option>
                  <option value="2027">2027</option><option value="2028">2028</option><option value="2029">2029</option>
                  <option value="2030">2030</option>
                </select>
                <!-- note to self: consider making the inputs turn green when the correct file is selected -->
                <div class="form-group" id="statistics_files">
                  <h5 id="input_files_title">Highway Statistics 2016 Input Files</h5>
                  <div class="row">
                    <label for="dl1c" class="col-sm-3 col-form-label">DL-1C</label>
                    <div class="col-sm-9"><input class="form-control" type="file" name="file[]" id="dl1c"></div>
                  </div>
                  <div class="row">
                    <label for="ps1" class="col-sm-3 col-form-label">PS-1</label>
                    <div class="col-sm-9"><input class="form-control" type="file" name="file[]" id="ps1"></div>
                  </div>
                  <div class="row">
                    <label for="33ga" class="col-sm-3 col-form-label">MF-33GA</label>
                    <div class="col-sm-9"><input class="form-control" type="file" name="file[]" id="33ga"></div>
                  </div>
                  <div class="row">
                    <label for="33sf" class="col-sm-3 col-form-label">MF-33SF</label>
                    <div class="col-sm-9"><input class="form-control" type="file" name="file[]" id="33sf"></div>
                  </div>
                  <div class="row">
                    <label for="mf21" class="col-sm-3 col-form-label">MF-21</label>
                    <div class="col-sm-9"><input class="form-control" type="file" name="file[]" id="mf21"></div>
                  </div>
                  <div class="row">
                    <label for="hm20" class="col-sm-3 col-form-label">HM-20</label>
                    <div class="col-sm-9"><input class="form-control" type="file" name="file[]" id="hm20"></div>
                  </div>
                  <div class="row">
                    <label for="hm60" class="col-sm-3 col-form-label">HM-60</label>
                    <div class="col-sm-9"><input class="form-control" type="file" name="file[]" id="hm60"></div>
                  </div>
                  <div class="row">
                    <label for="vm2" class="col-sm-3 col-form-label">VM-2</label>
                    <div class="col-sm-9"><input class="form-control" type="file" name="file[]" id="vm2"></div>
                  </div>
                  <div class="row">
                    <label for="dl22" class="col-sm-3 col-form-label">DL-22</label>
                    <div class="col-sm-9"><input class="form-control" type="file" name="file[]" id="dl22"></div>
                  </div>
                  <div class="row">
                    <label for="mf121t" class="col-sm-3 col-form-label">MF-121T</label>
                    <div class="col-sm-9"><input class="form-control" type="file" name="file[]" id="mf121t"></div>
                  </div>
                  <div class="row">
                    <label for="mv1" class="col-sm-3 col-form-label">MV-1</label>
                    <div class="col-sm-9"><input class="form-control" type="file" name="file[]" id="mv1"></div>
                  </div>
                  <div class="row">
                    <label for="fi20" class="col-sm-3 col-form-label">FI-20</label>
                    <div class="col-sm-9"><input class="form-control" type="file" name="file[]" id="fi20"></div>
                  </div>
                  <div class="row">
                    <label for="sf1" class="col-sm-3 col-form-label">SF-1</label>
                    <div class="col-sm-9"><input class="form-control" type="file" name="file[]" id="sf1"></div>
                  </div>
                  <div class="row">
                    <label for="sf2" class="col-sm-3 col-form-label">SF-2</label>
                    <div class="col-sm-9"><input class="form-control" type="file" name="file[]" id="sf2"></div>
                  </div>
                  <div class="row">
                    <label for="fe9" class="col-sm-3 col-form-label">FE-9</label>
                    <div class="col-sm-9"><input class="form-control" type="file" name="file[]" id="fe9"></div>
                  </div>
                </div>
                <input type="submit" id="spreadsheet-submit" value="Process" class="btn-primary">
              </form>
            </div>
          </div>
        </div>

        <!-- Build Visual PDFs -->
        <div class="tab-pane" id="pdf" role="tabpanel" aria-labelledby="pdf-tab">
          <div class="row">

            <div class="col-sm-6">
              <h3 class="text-muted">Instructions</h3>
              <p>The operator must provide State Statistical Abstract Excel spreadsheets for each year between 2017 and the current year. The spreadsheet for the current year can be generated using the "Build Abstract Spreadsheet" tab, above. Previous years can be downloaded from <a href="https://www.fhwa.dot.gov/policyinformation/" target="_blank">FHWA's website</a></p>
              <u>Quick start instructions:</u>
              <p><strong>For 2016:</strong> Click [Process]</p>
              <p><strong>For 2017:</strong> Generate the 2017 Abstract Spreadsheet using the tab above (remembering to open and save the file after downloading) and upload as "2017 Abstract Spreadsheet". Click [Process]</p>
              <p><strong>For 2018, etc:</strong> 1) Upload the 2017 Abstracts Spreadsheet (available from FHWA's website using the link above) as "2017 Spreadsheet File". 2) Generate the 2018 Abstract Spreadsheet using the tab above (remembering to open and save the file after downloading) and upload as "2018 Abstract Spreadsheet". Click [Process]</p>
            </div>

            <div class="col-sm-6">
              <h3 class="text-muted">Upload Data Files</h3>
              <p>For 2017 and subsequent years, upload the source Abstracts Excel spreadsheet(s):</p>
              <form action="upload" method="post" enctype="multipart/form-data" id="pdf-form">
                <input type="hidden" name="act" value="pdf">
                <label for="pdf_year_select">Output Year:</label>
                <select name="pdf_year_select" id="pdf_year_select">
                  <option value="2016" selected="selected">2016</option><option value="2017">2017</option>
                  <option value="2018">2018</option><option value="2019">2019</option><option value="2020">2020</option>
                  <option value="2021">2021</option><option value="2022">2022</option><option value="2023">2023</option>
                  <option value="2024">2024</option><option value="2025">2025</option><option value="2026">2026</option>
                  <option value="2027">2027</option><option value="2028">2028</option><option value="2029">2029</option>
                  <option value="2030">2030</option>
                </select>

                <div class="form-group" id="abstract_files">
                  <!-- added by jQuery as necessary -->
                </div>              

                <br /><br />
                <input type="submit" id="pdf-submit" value="Process" class="btn-primary">
              </form>
            </div>

          </div>
        </div>

      <!-- End Tabbed Interface -->
      </div>


    </div>
    <hr>
    <footer class="footer">
      <div class="container">
        <p class="text-muted">Developed for the FHWA Office of Highway Policy Information through the <i>Data Visualization Center</i>. View the <a href="https://bitbucket.org/meggehsc/fhwa-ssa" target="_BLANK">Project Source Code</a></p>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap4.js"></script>
    <script type="text/javascript">
      var year = 2016
      $(document).ready(function(){

        // update form title when drop-down year changes
        $('#spreadsheet_year_select').change(function(e){
          $('#input_files_title').html('Highway Statistics ' + $('#spreadsheet_year_select').val() + ' Input Files')
        });

        // validate that the filename matches what we expect
        $('#spreadsheet-form input:file').change(function(e){
          var id = $( this ).attr('id');
          var fullPath = $( this ).val();
          var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
          var filename = fullPath.substring(startIndex);
          if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
              filename = filename.substring(1);
          }
          filename = filename.split('.')[0].toLowerCase();
          var match = $( this ).attr('id') == filename;
          var tag_id = "alert_" + id;
          $( '#' + tag_id ).remove();
          if(match) {
            $( this ).parent().parent().removeClass("alert alert-warning");
            $( this ).parent().parent().addClass("alert alert-success");
          } else {
            $( this ).parent().parent().addClass("alert alert-warning");
            $( this ).parent().parent().append('<p id="' + tag_id +'"">Provided file name "' + filename + '" does not match expected file name "' + id + '".</p>');
          }

        });

        // add the correct number of abstract inputs
        $('#pdf_year_select').change(function(e){
          $('#abstract_files').html('');
          for(var i = 2017; i <= $('#pdf_year_select').val(); i++) {

            var text = '<div class="row">' + 
                       '<label for="abstract_' + i + '" class="col-sm-5 col-form-label">' + i + ' Abstract Spreadsheet</label>' +
                       '<div class="col-sm-7"><input class="form-control" type="file" name="file[]" id="abstract_' + i + '"></div>' + 
                       '</div>'

            $('#abstract_files').append(text)
          }
        });
      });

      // validate the form on submission
      $( "#spreadsheet-form" ).submit(function( event ) {
        var errors = [];
        
        $( "#spreadsheet-form input:file" ).each(function( index ) {
          var filename = $( this ).val();

          if(filename == "")
            errors.push("Missing file for " + $( this ).attr('id'));
          else if($.inArray(filename.split('.').pop().toLowerCase(), ['xls','xlsx']) == -1)
            errors.push("Invalid file type for " + $( this ).attr('id') + ". Extension must be .xls or .xlsx");
        });

        if ( errors.length == 0 ) {
          return;
        }
       
        alert( "Errors with submission: " + errors.join(', ') );
        event.preventDefault();
      });

      // validate the form on submission
      $( "#pdf-form" ).submit(function( event ) {
        var errors = [];
        
        $( "#pdf-form input:file" ).each(function( index ) {
          var filename = $( this ).val();

          if(filename == "")
            errors.push("Missing file for " + $( this ).attr('id'));
          else if($.inArray(filename.split('.').pop().toLowerCase(), ['xls','xlsx']) == -1)
            errors.push("Invalid file type for " + $( this ).attr('id') + ". Extension must be .xls or .xlsx");
        });

        if ( errors.length == 0 ) {
          return;
        }
       
        alert( "Errors with submission: " + errors.join(', ') );
        event.preventDefault();
      });

    </script>
  </body>
</html>