<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FHWA State Statistical Abstract Generator</title>
    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <meta http-equiv="refresh" content="5; URL=/process">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">Processing and Generating PDFs</h3>
        <p>Hang tight! This process takes 5 – 10 minutes. This page will automatically redirect when finished. (<a href="/cancel">Cancel</a>)</p>
      </div>
      <hr />
      <div>
      <h4>Progress: {{ files|length }} of 51 finished</h4>
      <ul>
      {% for file in files %}
        <li>{{ file }}</li>
      {% endfor %}
      </ul>
    </div>
  </body>
</html>