<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"> 
    <meta http-equiv="X-  UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>FHWA State Statistical Abstracts</title>

    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{{ url_for('static', filename='css/ssa.css') }}" rel="stylesheet"> 
  </head>
  <body>
    <!-- Page 1 -->
    <div class="container">
      <div class="row header">
        <div class="col-md-4 text-left">
          <h4>Highway Statistics Series</h4>
          <h5 style="line-height: 20pt">State Statistical Abstracts</h5>
        </div>
        <div class="col-md-4 text-center">
          <h2>{{ state }}</h2>
          <h4>{{ year }}</h4>
        </div>
        <div class="col-md-4 text-right">
          <img src="{{ url_for('static', filename='images/flags/' + state_stub + '.png') }}" class="flag">
        </div>
      </div>

      <div class="row">
        <!-- Left Column -->
        <div class="col-md-6">
          <div class="fact-box" id="population">
              <p class="fact-heading">Population</p>
              <p class="fact-figure">{{ "{:,.0f}".format(population) }}</p>
              <p class="fact-subfigure">{{ '{:.1%}'.format(population_percent) }} of national</p>
          </div>

          <div class="fact-box" id="land-area">
              <p class="fact-heading">Land Area</p>
              <p class="fact-unit">(sq. miles)</p>
              <p class="fact-figure">{{ "{:,.0f}".format(land_area) }}</p>
              <p class="fact-subfigure">{{ '{:.1%}'.format(land_area_percent) }} of national</p>
          </div>

          <div class="fact-box" id="vmt">
              <p class="fact-heading">Vehicle Miles Traveled</p>
              <p class="fact-unit">(millions)</p>
              <p class="fact-figure">{{ "{:,.0f}".format(vmt) }}</p>
              <p class="fact-subfigure">{{ '{:.1%}'.format(vmt_percent) }} of national</p>
          </div>
          <div class="fact-box" id="road-length">
              <p class="fact-heading">Public Road Length</p>
              <p class="fact-unit">(miles)</p>
              <p class="fact-figure">{{ "{:,.0f}".format(road_length) }}</p>
              <p class="fact-subfigure">{{ '{:.1%}'.format(road_length_percent) }} of national</p>
          </div>
          <div class="fact-box" id="lane-miles">
              <p class="fact-heading">Public Road Lane Miles</p>
              <p class="fact-figure">{{ "{:,.0f}".format(lane_miles) }}</p>
              <p class="fact-subfigure">{{ '{:.1%}'.format(lane_miles_percent) }} of national</p>
          </div>

          <div>
              <img  id="percent-of-national-chart" src="{{ url_for('static', filename='images/plots/' + state_stub + '/percent_of_national.png') }}">
          </div>
        </div>

        <!-- Right Column -->
        <div class="col-md-6 text-center">
          <img class="p1-line-chart" src="{{ url_for('static', filename='images/plots/' +  state_stub + '/p1_charts.png') }}">
        </div>
      </div>

      <div class="row" id="vehicle-registrations">
        <div class="col-md-3 text-center">
          <h3>Vehicle Registrations</h3>
          <p class="fact-figure">{{ "{:,.0f}".format(vehicle_registrations) }}</p>
          <p class="fact-subfigure">{{ '{:.1%}'.format(vehicle_registrations_percent) }} of national</p>
        </div>
        <div class="col-md-9">
          <img id="vehicle-registrations-chart" src="{{ url_for('static', filename='images/plots/' +  state_stub + '/vehicle_registrations.png') }}">
        </div>
      </div>
    
    <!-- End Page 1 -->
    </div>


    <!-- Page 2 -->
    <div class="container page">
      <div class="row">
        <div class="header col-md-6 text-left">
          <h3>Highway Statistics Series</h3>
          <h5>State Statistical Abstracts</h5>
        </div>
        <div class="header col-md-6 text-right">
          <h3>{{ state }}</h3>
          <h5>{{ year }}</h5>
        </div>
      </div>

      <div class="row">
        <div class="col-md-7 text-center"><h3>Public Road Length</h3></div>
        <div class="col-md-5 text-center"><h3>Public Road Lane Miles</h3></div>
        <div class="col-md-12">
          <img id="road-length-chart" src="{{ url_for('static', filename='images/plots/' +  state_stub + '/road_length.png') }}">
        </div>
      </div>

      <div class="row">
        <div class="col-md-7 text-center">

          <h3 class="tight">Share of Road Miles and Vehicle Miles Traveled</h3>
          <img id="share-of-road-miles-chart" src="{{ url_for('static', filename='images/plots/' +  state_stub + '/share_of_road_miles.png') }}">

        </div>
        <div class="col-md-5 text-center">

          <h3 class="tight">Public Road Length</h3>
          <p class="fact-figure">{{ "{:,.0f}".format(road_length) }} miles</p>
          <img class="rural-urban-chart" src="{{ url_for('static', filename='images/plots/' +  state_stub + '/road_length_rural_urban.png') }}">
          
          <h3 class="tight">Vehicle Miles Traveled</h3>
          <p class="fact-figure">{{ "{:,.0f}".format(vmt * 1000000) }} miles</p>
          <img class="rural-urban-chart" src="{{ url_for('static', filename='images/plots/' +  state_stub + '/vmt_rural_urban.png') }}">

        </div>
      </div>

      <div class="row">
        <div class="col-md-7 text-center">

          <h2>Vehicle Miles Traveled (Millions)</h2>
          <p class="fact-figure">{{ "{:,.0f}".format(vmt) }}</p>
          <p class="fact-subfigure">{{ '{:.1%}'.format(vmt_percent) }} of national</p>          
          <img id="vehicle-miles-traveled-chart" src="{{ url_for('static', filename='images/plots/' +  state_stub + '/vehicle_miles_traveled.png') }}">

        </div>
        <div class="col-md-5 text-center">

          <h2>New Lane Miles Added Annually</h2>
          <img id="new-lane-miles-chart" src="{{ url_for('static', filename='images/plots/' +  state_stub + '/new_lane_miles.png') }}" width=290>

        </div>
      </div>

      <div class="row footer">
        <div>{{ state }}</div>
        <div>Page 2 of 3</div>
      </div>
    <!-- End Page 2 -->
    </div>

    <!-- Page 3 -->
    <div class="container page">
      <div class="row">
        <div class="header col-md-6 text-left">
          <h3>Highway Statistics Series</h3>
          <h5>State Statistical Abstracts</h5>
        </div>
        <div class="header col-md-6 text-right">
          <h3>{{ state }}</h3>
          <h5>{{ year }}</h5>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 text-center" id="driver-licenses">

          <h3 class="text-center">Driver Licenses</h3>
          <p class="fact-figure">{{ "{:,.0f}".format(drivers_licenses) }}</p>
          <p class="fact-subfigure">{{ '{:.1%}'.format(drivers_licenses_percent) }} of national</p>

        </div>
        <div class="col-md-9">

          <img id="driver-licenses-chart" src="{{ url_for('static', filename='images/plots/' +  state_stub + '/driver_licenses.png') }}">

        </div>
      </div>

      <div class="row">
        <div class="col-md-9" id="vehicle-crash-fatalities">
          <h3 class="text-center">Vehicle Crash Fatalities</h3>
          <img id="vehicle-crash-fatalities-chart" src="{{ url_for('static', filename='images/plots/' +  state_stub + '/vehicle_crash_fatalities.png') }}">
        </div>
        <div class="col-md-3 text-center" id="fuel-use">

          <h3 class="text-center">Motor Fuel Use</h3>
          <p class="fact-figure text-center">{{ "{:,.0f}".format(motor_fuel_use) }}</p>
          <p class="fact-unit text-center">(thousand gallons)</p>
          <h3 class="text-center">State Tax Rate</h3>
          <p class="fact-unit text-center">(per gallon)</p>          
          <h4 class="blue small-top text-center">Gasoline ${{ '{:.3f}'.format(gasoline/100) }}</h4>
          <h4 class="blue small-top text-center">Diesel ${{ '{:.3f}'.format(diesel/100) }}</h4>    

        </div>          

        <div class="col-md-12 text-center" id="highway-funding">

          <h3>Highway Funding Revenue</h3>
          <p class="fact-figure">{{ "${:,.0f}".format(highway_funding_revenue) }}</p>
          <p class="fact-unit text-center hf">(thousands)</p>
          <img src="{{ url_for('static', filename='images/plots/' +  state_stub + '/highway_funding_revenue.png') }}" >

          <h3>Highway Funding Expenditures</h3>
          <p class="fact-figure">{{ "${:,.0f}".format(highway_funding_expenditures) }}</p>
          <p class="fact-unit text-center hf">(thousands)</p>          
          <img src="{{ url_for('static', filename='images/plots/' +  state_stub + '/highway_funding_expenditures.png') }}" >

        </div>
      </div>

	    <div class="row footer">
      	<div>{{ state }}</div>
      	<div>Page 3 of 3</div>
      </div>
    </div>

  </body>
</html>